---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => b.data.year - a.data.year)
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

const did = (await getCollection("did"))
  .sort((a, b) => b.data.year - a.data.year)
  .slice(0,SITE.NUM_DID_ON_HOMEPAGE);

const ideas = (await getCollection("ideas"))
  .sort((a, b) => a.data.rank - b.data.rank)
  .slice(0,SITE.NUM_IDEAS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      youcanjust.manifesto
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Ask yourself: "Does this defy the laws of physics?" If not, you can just build, do, paint, bake, code, sing, dance, create, learn, chill, work, love, live, and be 100% <span style="font-weight: bold; font-style: italic;">you</span>.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            youcanjust.write
          </h5>
          <!-- <Link href="/blog">
            See all posts
          </Link> -->
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            youcanjust.ideas
          </h5>
          <Link href="/ideas">
            All ideas
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {ideas.map(idea => (
            <li>
              <ArrowCard entry={idea} />
            </li>
          ))}
        </ul>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            youcanjust.subscribe
          </h5>
          </div>
          <article class="space-y-4">
            <p class="animate">
              Join 1300+ people who read my newsletter where I share my journey building and everything I learn along the way.
            </p>
          </article>
        <iframe src="https://embeds.beehiiv.com/1ce9927b-abcb-4163-ad11-5a2d682b94fd?slim=true" data-test-id="beehiiv-embed" height="52" 
        frameborder="0" scrolling="no" style="margin: 0; border-radius: 6px !important; background-color: transparent;"></iframe>
      </section> -->

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            youcanjust.build
          </h5>
          <!-- <Link href="/work">
            See all work
          </Link> -->
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              
                <div class="text-sm opacity-75">
                  {entry.data.description}
                </div>
              <div class="font-semibold text-black dark:text-white text-xs opacity-50">
                {entry.data.year}
              </div>
            </li>
          ))}
        </ul>
      </section>
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            youcanjust.do
          </h5>

        </div>
        <ul class="flex flex-col space-y-4">
          {did.map(entry => (
            <li>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.learned}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.description}
              </div>
              <div class="font-semibold text-black dark:text-white text-xs opacity-50">
                {entry.data.year}
              </div>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          youcanjust.connect
        </h5>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
